# Defense Companies Data Analysis and Data Visualization Project

At the start of the project I wanted to analysed industrial or manufacturing data as that was my background.  A dataset search on Kaggle led me to IoT manufacturing sensor data.  Unforturnately, these dataset are simulated dataset and I did not want to work on simulated data.  Then I stumbled upon defense manufacturer's dataset and thought it would be a good idea to study it to gain some insights into their geographical spread, market capitalisation, geopolitical affliations and correlations with global confilicts around the world.

###  Import Libraries

First we need to import the necessary libraries for data analysis, visualisation and predictive analytics

In [ ]:
# Import data analysis and visualisation libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set visualisation style
sns.set(style="whitegrid")

# Import predictive modelling libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import classification_report, confusion_matrix

### Data Loading and Exploration

We now load the three datasets collected and begin some initial exploration. The datasets are:

1. All Listed Companies Combined Historical Data (defense-company-industry-data.csv) - this contains historical stock data and dates.
2. SIPRI Top 100 Defense Companies Official List (defense-company-sipri-data.csv) - this contains revenue and rankings.
3. Listed Companies CountryWise Segregation (defense-company-country-data.csv) = this contains categorical data.

In [3]:
# Load datasets
df_historical = pd.read_csv('dataset/defense-company-industry-data.csv')
df_sipri = pd.read_csv('dataset/defense-company-sipri-data.csv')
df_country = pd.read_csv('dataset/defense-company-country-data.csv')

In [4]:
# Display first few rows of each dataset
print(f"Historical Data:\n{df_historical.head()}\n")
print(f"SIPRI Data:\n{df_sipri.head()}\n")
print(f"Country Data:\n{df_country.head()}\n")

Historical Data:
         Date     Close      High       Low      Open  Volume  \
0  04-01-2010  32739.60  32872.69  31907.80  31941.07  497685
1  05-01-2010  32839.41  33338.49  32673.05  33005.77  469946
2  06-01-2010  33671.21  34469.74  33072.32  33072.32  636395
3  07-01-2010  33538.13  34403.20  33405.04  33937.39  423084
4  08-01-2010  33671.21  34203.56  33039.05  34203.56  502115

            Company Name
0  Lockheed Martin Corp.
1  Lockheed Martin Corp.
2  Lockheed Martin Corp.
3  Lockheed Martin Corp.
4  Lockheed Martin Corp.

SIPRI Data:
   Rank (2023)  Rank (2022)            Company Name         Country  \
0            1            1   Lockheed Martin Corp.   United States
1            2            2                     RTX   United States
2            3            3  Northrop Grumman Corp.   United States
3            4            4                  Boeing   United States
4            5            5  General Dynamics Corp.   United States

   Arms Revenue 2023 (in Million $)  Arms Revenue 2022 (in Million $)  \
0                             60810                             61820
1                             40660                             41190
2                             35570                             33620
3                             31100                             30500
4                             30200                             29270

   Total Revenue 2023 (in Million $) Arms Revenue as % of Total Revenue
0                            67570.0                              90.0%
1                            68920.0                              59.0%
2                            39290.0                              90.5%
3                            77790.0                              40.0%
4                            42270.0                              71.4%

Country Data:
           Country      Continent  Income Level   G7  G20 NATO   EU
0    United States  North America          High  Yes  Yes  Yes   No
1   United Kingdom         Europe          High  Yes  Yes  Yes   No
2           Russia    Europe/Asia  Upper-Middle   No  Yes   No   No
3            China           Asia  Upper-Middle   No  Yes   No   No
4  Trans-Europeanh         Europe          High   No   No   No  Yes

In [5]:
# Display information about each dataset
print(f"Historical Data Info: \n{df_historical.info()}\n")
print(f"SIPRI Data Info: \n{df_sipri.info()}\n")   
print(f"Country Data Info: \n{df_country.info()}\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242748 entries, 0 to 242747
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          242748 non-null  object
 1   Close         242748 non-null  float64
 2   High          242748 non-null  float64
 3   Low           242748 non-null  float64
 4   Open          242748 non-null  float64
 5   Volume        242748 non-null  int64
 6   Company Name  242748 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 13.0+ MB
Historical Data Info:
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Rank (2023)                         100 non-null    int64
 1   Rank (2022)                         100 non-null    int64
 2   Company Name                        100 non-null    object
 3   Country                             100 non-null    object
 4   Arms Revenue 2023 (in Million $)    100 non-null    int64
 5   Arms Revenue 2022 (in Million $)    100 non-null    int64
 6   Total Revenue 2023 (in Million $)   97 non-null     float64
 7   Arms Revenue as % of Total Revenue  97 non-null     object
dtypes: float64(1), int64(4), object(3)
memory usage: 6.4+ KB
SIPRI Data Info:
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       22 non-null     object
 1   Continent     22 non-null     object
 2   Income Level  22 non-null     object
 3   G7            22 non-null     object
 4   G20           22 non-null     object
 5   NATO          22 non-null     object
 6   EU            22 non-null     object
dtypes: object(7)
memory usage: 1.3+ KB
Country Data Info:
None

In [6]:
# Display information about the shape of each dataset
print(f"Historical Data Shape: {df_historical.shape}")
print(f"SIPRI Data Shape: {df_sipri.shape}")
print(f"Country Data Shape: {df_country.shape}")

Historical Data Shape: (242748, 7)
SIPRI Data Shape: (100, 8)
Country Data Shape: (22, 7)

In [7]:
# Display a summary statistics of each dataset
print(f"Historical Data Summary:\n{df_historical.describe()}\n")
print(f"SIPRI Data Summary:\n{df_sipri.describe()}\n")
print(f"Country Data Summary:\n{df_country.describe()}\n")

Historical Data Summary:
               Close           High            Low           Open  \
count  242748.000000  242748.000000  242748.000000  242748.000000
mean     2686.110308    2738.272788    2637.739601    2687.455562
std     16710.323525   17093.516394   16344.206482   16715.277203
min         0.280000       0.280000       0.260000       0.280000
25%        33.780000      34.190000      33.330000      33.760000
50%        84.940000      85.850000      83.940000      84.900000
75%       270.820000     274.320000     267.660000     270.960000
max    631000.000000  650000.000000  623000.000000  648000.000000

             Volume
count  2.427480e+05
mean   3.934135e+06
std    1.188797e+07
min    0.000000e+00
25%    3.439000e+05
50%    1.080288e+06
75%    3.291862e+06
max    6.304517e+08

SIPRI Data Summary:
       Rank (2023)  Rank (2022)  Arms Revenue 2023 (in Million $)  \
count   100.000000   100.000000                        100.000000
mean     50.500000    53.130000                       6319.000000
std      29.011492    31.746997                       9513.585236
min       1.000000     1.000000                       1010.000000
25%      25.750000    25.750000                       1822.500000
50%      50.500000    52.500000                       2860.000000
75%      75.250000    79.250000                       5535.000000
max     100.000000   118.000000                      60810.000000

       Arms Revenue 2022 (in Million $)  Total Revenue 2023 (in Million $)
count                        100.000000                          97.000000
mean                        6066.400000                       17438.969072
std                         9423.371067                       20905.730598
min                          620.000000                        1150.000000
25%                         1502.500000                        3360.000000
50%                         2575.000000                        6640.000000
75%                         4982.500000                       24800.000000
max                        61820.000000                       83430.000000

Country Data Summary:
              Country Continent Income Level  G7  G20 NATO  EU
count              22        22           22  22   22   22  22
unique             22         4            3   2    2    2   2
top     United States    Europe         High  No  Yes  Yes  No
freq                1        11           17  15   16   12  14